
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}


.navBar {
    background-color: #3D5A80;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    width: 300px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 30px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    position: relative;
}


.nav-links a:hover {
    cursor: pointer;
}


.nav-links a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}


.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1010;
}
.hamburger-menu .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.container {
    background-color: #3D5A80;
    width: auto;
    height: 700px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.container .text-container {
    padding: 0 50px;
    margin: 0 200px 200px 0;
}


.container h1 {
    color: #E0FBFC;
    font-size: 80px;
    text-align: justify;
    padding-top: 160px;
    line-height: 1;
}

.container .subtitle {
    display: block;
    font-size: 80px;
    color: #E0FBFC;
}

.container .introduction {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.container img {
    width: 800px;
    height: 500px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}


.projectContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.projectContainer .projectImg-Title {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 250px;
}


.projectContainer .projectImg-Title h2 {
    color: #EE6C4D;
    font-size: 2em;
}

.projectContainer .project-logo {
    height: 600px;
    width: 700px;
}

.projectContainer .project-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.projectContainer p {
    font-size: 1.1em;
    max-width: 600px;
    text-align: justify;
}


.objectivesContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin-top: 50px;
}


.objectivesContainer h2 {
    color: #EE6C4D;
    font-size: 2em;
    padding-left: 250px;
    font-weight: 600;
}

.objectives-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    gap: 40px;
    margin-top: 100px;
}

.objectives-list .objective-item {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}


.objectives-list .objective-item img {
    width: 150px;
    height: 150px;
}


.objectives-list .objective-item p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: black;
    text-align: justify;
    margin-top: 16px;
}


.teamContainer {
    background-color: #E0FBFC;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 80px 0;
    padding-top: 40px;
}


.teamContainer h2 {
    color: #EE6C4D;
    font-size: 40px;
    padding-left: 250px;
}


.team-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    margin: 80px auto;
    position: relative;
    justify-content: center;
    gap: 30px;
}


.carousel-wrapper {
    overflow: hidden;
    width: 940px;
}


.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    gap: 20px;
}


.team-member {
    flex: 0 0 300px;
}

.team-member img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin-top: 15px;
    object-fit: cover;
    border: 5px solid #293241;
}


.team-member .name {
    font-size: 24px;
    color: black;
    margin-top: 16px;
    text-align: center;
}


.team-member .role {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 8px;
}


.team-member .description {
    font-size: 12px;
    color: black;
    text-align: justify;
    margin-top: 8px;
    max-width: 300px;
}


.prev-btn, .next-btn {
    background-color: #3D5A80;
    color: white;
    border: none;
    font-size: 32px;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 2;
    align-self: center;
}


.prev-btn:hover, .next-btn:hover {
    background-color: #EE6C4D;
}


.contact-section {
    background: #f9f9f9;
    padding: 50px 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-left {
    flex: 2;
}

.contact-right {
    flex: 1;
}

.contact-title {
    color: #1E4C9C;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border-radius: 5px;
}

.form-group input.error,
.form-group textarea.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}

#char-count {
    font-size: 0.8em;
    text-align: right;
    display: block;
    margin-top: 5px;
}

.btn-enviar {
    background: #1E4C9C;
    color: white;
    border: none;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar:hover {
    background: #163b78;
}

.divider {
    width: 1px;
    background: black;
    align-self: stretch;
}

.contact-subtitle {
    color: #1E4C9C;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-top: 150px;
    margin-bottom: 15px;
}

.contact-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

.footer {
    background: #29476d;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 992px) {
    .navBar {
        height: 80px;
        padding-right: 20px;
    }
    .logo {
        width: 250px;
    }
    .container {
        height: auto;
        flex-direction: column;
        padding: 20px;
        border-bottom-right-radius: 50px;
    }
    .container .text-container {
        margin: 0;
        padding: 0;
        text-align: justify;
    }
    .container h1 {
        font-size: 60px;
        padding-top: 40px;
    }
    .container .subtitle {
        font-size: 60px;
    }
    .container .introduction {
        max-width: 90%;
        text-align: justify;
        padding-top: 10px;
    }
    .container img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .projectContainer {
        flex-direction: column;
        margin-top: 50px;
    }
    .projectContainer .projectImg-Title {
        padding-left: 0;
        align-items: center;
    }
    .projectContainer .project-logo {
        width: 80%;
        height: auto;
    }
    .projectContainer .project-description {
        align-items: center;
        padding: 20px;
    }
    .projectContainer p {
        max-width: 90%;
        text-align: justify;
    }
    .objectivesContainer {
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    .objectivesContainer h2 {
        padding-left: 0;
    }
    .objectives-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }
    .teamContainer {
        align-items: center;
        text-align: center;
        padding-top: 20px;
        margin: 40px 0;
    }
    .teamContainer h2 {
        padding-left: 0;
    }
    .team-carousel {
        width: 100%;
        margin-top: 20px;
    }
    .carousel-wrapper {
        width: 100%;
    }
    .team-member {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .team-member img {
        width: 250px;
        height: 250px;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-left {
        width: 100%;
    }
    .contact-right {
        width: 100%;
    }
    .divider {
        display: none;
    }
    .contact-subtitle {
        margin-top: 20px;
    }
}


@media screen and (max-width: 768px) {
    .navBar {
        justify-content: space-between;
        padding: 0 20px;
        height: 70px;
    }
    .logo {
        width: 180px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #3D5A80;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        border-bottom: 2px solid white;
        z-index: 1005;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }
    .nav-links a {
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .nav-links a:last-child {
        border-bottom: none;
    }
    .nav-links a::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #EE6C4D;
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: left;
    }
    /* El botón de hamburguesa en móviles. */
    .hamburger-menu {
        display: flex;
    }
    .container h1 {
        font-size: 48px;
    }
    .container .subtitle {
        font-size: 48px;
    }
    .container .introduction {
        font-size: 16px;
    }
    .projectContainer p {
        text-align: center;
    }
    .objectives-list .objective-item {
        width: 100%;
    }
}